<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Chat app</title>
    <script src="https://cdn.socket.io/3.1.1/socket.io.min.js" integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO" crossorigin="anonymous"></script>
</head>
<body>
    {% if not user %}
        <section>
            <div class='window-wrapper'>
                <div class="login-message" style="color: red; font-size: 1rem;">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="flush-message">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="form-title">Enter your username:</div>
                <form action="" method="POST">
                    <input type="text" name="username" id="">
                    <button type="submit">Enter chat</button>
                </form>
            </div>
        </section>
    {% else %}
        <section class="chat-section">
            <div class='chat-header'></div>
            <div class="window-wrapper chat-wrapper">
                <div class="chat-window"></div>
                <div class="control">
                    <input type="text" name="" id="message">
                    <button onclick="sendMessage()">Send</button>
                    <button onclick="logout()">Logout</button>
                </div>
                <div class="userlist-wrapper">
                    <span>Users online:</span>
                    <div class="userlist"></div>
                </div>
            </div>
        </section>
        <script src="index.js"></script>
    {% endif %}
</body>
</html>